@media (min-width: 1400px) {}

@media only screen and (max-width: 1900px) and (min-width: 300px) {}

@media (min-width: 1200px) {}

@media (max-width: 1600px) {}

@media (max-width: 1199px) {
    td.cell-act {
        min-width: 150px;
    }

    td.cell-info {
        min-width: 270px;
    }

    td.cell-info-more {
        min-width: 270px;
    }

    td.cell-docs {
        min-width: 110px;
    }
}

@media (max-width: 1024px) {}

@media (max-width: 991px) {
    .table-responsive table {
        min-width: 900px;
    }

    .bg-main {
        height: auto;
        min-height: calc(100vh - 70px);
    }

    .header-block-bottom {
        padding-top: 10px;
    }

    .header-block-top {
        padding: 40px 0 60px;
    }

    .header-bottom-filter {
        padding: 0;
    }

    .header-bottom-services {
        padding: 20px 30px 10px;
        border: 0;
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .header-bottom-services ul {
        min-width: 720px;
    }

    .header-bottom-services img {
        width: 60px;
        margin-bottom: 8px;
    }
}

@media (max-width: 767px) {
    .header-top-left h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .header-top-left p {
        font-size: 20px;
    }

    .list-step {
        font-size: 14px;
        width: 100%;
    }

    .list-step li {
        width: calc(100%/4);
        max-width: 80px;
    }

    .header-bottom-services h3 {
        font-size: 20px;
        margin-bottom: 0 !important;
    }

    .header-bottom-services p {
        font-size: 14px;
    }
}

@media (max-width: 575px) {}

@media (max-width: 475px) {}

@media (min-width: 992px) {}

@media (min-width: 768px) {}

@media (min-width: 600px) {}

@media (min-width: 576px) {}